/* shared styles */
* {
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

.btn-primary {
  padding: 21px 40px;
  gap: 10px;
  border-radius: 2.5rem;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  border: 0;
}

.text-primary {
  color: #ff42a5;
}

.text-secondary {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-weight: 700;
}

.section-title {
  text-align: center;
  color: #0b0223;
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 1rem;
}

.section-description {
  color: #534c64;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
/* header */
nav {
  padding: 37px 240px 0;
  height: 80px;
  display: flex;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo {
  display: flex;
  padding-top: 5px;
}

.logo-img {
  width: 85px;
  height: 40px;
  margin-right: 20px;
}

.about-us {
  display: flex;
}
.about-us > ul {
  display: flex;
  padding: 13px;
}

.follow-us {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  width: 260px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}
.follow-us-description {
  color: #3c354f;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
}
nav li {
  list-style: none;
  margin-right: 25px;
  font-weight: 500;
  font-size: 1rem;
}

nav li a {
  text-decoration: none;
  color: #424242;
}

/* banner */
.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 240px 0;
}

.banner-title1 {
  color: #0b0223;
  text-align: center;
  font-size: 2.1rem;
  font-weight: 600;
}

.banner-title2 {
  text-align: center;
  font-size: 95px;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 23px;
}

.banner-description {
  color: #534c64;
  text-align: center;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: lowercase;
}

.banner-text {
  text-align: left;
  background-image: url("./images/group14.png");
  background-size: cover;
}

.banner-title1,
.banner-title2,
.banner-description,
.btn-primary,
.btn-rogue {
  text-align: left;
  margin: 15px 0;
}

.btn-rogue {
  padding: 21px 40px;
  gap: 10px;
  border-radius: 2.5rem;
  background: #4ec5f7;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  border: 0;
  margin-left: 23px;
}

/* online games */
.online-games {
  padding: 120px 240px;
}
.online-items {
  display: flex;
  justify-content: space-around;
  gap: 1.1rem;
  padding: 48px 240px 30px;
}

.img {
  border-radius: 16px;
  background: rgba(5, 151, 160, 0.15);
  padding: 80px 50px 0px 50px;
  width: 342px;
  height: 400px;
  flex-shrink: 0;
}

.online-caption {
  text-align: center;
  color: #534c64;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
}

/* instant play */
.instant-play-container {
  display: flex;
  position: relative;
}

.instant-img1 {
  position: absolute;
  width: 634.833px;
  height: 650px;
  flex-shrink: 0;
  border-radius: 8px;
  right: 230px;
}

.instant-img2 {
  position: absolute;
  width: 318.5px;
  height: 365.083px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 2px solid #fff;
  top: 360px;
  right: 670px;
}

.instant-play-text {
  width: 570px;
  /* text-align: right; */
  padding: 120px 40px 120px 240px;
}

.instant-title {
  text-align: right;
  font-size: 3rem;
  font-weight: 700;
  line-height: 100px; /* 125% */
}

.instant-description {
  color: #534c64;
  text-align: right;
  font-size: 1rem;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-top: 20px;
}
