/* shared styles */
* {
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

.btn-primary {
  padding: 21px 40px;
  gap: 10px;
  border-radius: 2.5rem;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  border: 0;
}

.text-primary {
  color: #ff42a5;
}

.text-secondary {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-weight: 700;
}

.text-white {
  color: white;
}

.section-title {
  text-align: center;
  color: #0b0223;
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 1rem;
}

.section-description {
  color: #534c64;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
/* header */
nav {
  padding: 37px 240px 0;
  height: 80px;
  display: flex;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo {
  display: flex;
  padding-top: 5px;
  justify-content: center;
}

.logo-img {
  width: 85px;
  height: 40px;
  margin-right: 20px;
}

.about-us {
  display: flex;
}
.about-us > ul {
  display: flex;
  padding: 13px;
}

.follow-us {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  width: 260px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}
.follow-us-description {
  color: #3c354f;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
}
nav li {
  list-style: none;
  margin-right: 25px;
  font-weight: 500;
  font-size: 1rem;
}

nav li a {
  text-decoration: none;
  color: #424242;
}

/* banner */
.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 240px 0;
}

.banner-text {
  position: relative;
}

.banner-text img {
  position: absolute;
  left: -10rem;
  top: -5.9rem;
}

.banner-title1 {
  color: #0b0223;
  text-align: center;
  font-size: 2.1rem;
  font-weight: 600;
}

.banner-title2 {
  text-align: center;
  font-size: 95px;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 23px;
}

.banner-description {
  color: #534c64;
  text-align: center;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: lowercase;
}

.banner-title1,
.banner-title2,
.banner-description,
.btn-primary,
.btn-rogue {
  text-align: left;
  margin: 15px 0;
}

.btn-rogue {
  padding: 21px 40px;
  gap: 10px;
  border-radius: 2.5rem;
  background: #4ec5f7;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  border: 0;
  margin-left: 23px;
}

/* online games */
.online-games {
  padding: 120px 240px;
}
.online-items {
  display: flex;
  justify-content: space-around;
  gap: 1.1rem;
  padding: 48px 240px 30px;
}

.online-caption {
  text-align: center;
  color: #534c64;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
}

.card {
  padding: 1rem 0;
  width: 100%;
}

.container {
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
}

.container .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  border-radius: 1rem;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.container:hover .content-overlay {
  opacity: 1;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.container:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details p {
  color: #fff;
  font-weight: 300;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.fadeIn-bottom {
  top: 20%;
}

/* instant play */
.instant-play-container {
  display: flex;
  position: relative;
}

.instant-img1 {
  position: absolute;
  width: 634.833px;
  height: 650px;
  flex-shrink: 0;
  border-radius: 8px;
  right: 230px;
}

.instant-img2 {
  position: absolute;
  width: 318.5px;
  height: 365.083px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 2px solid #fff;
  top: 360px;
  right: 670px;
}

.instant-play-text {
  width: 570px;
  /* text-align: right; */
  padding: 120px 40px 120px 240px;
}

.instant-title {
  text-align: right;
  font-size: 3rem;
  font-weight: 700;
  line-height: 100px; /* 125% */
}

.instant-description {
  color: #534c64;
  text-align: right;
  font-size: 1rem;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-top: 20px;
}

/* genre */

.genre-section {
  /* width: 120rem;
  height: 26.6875rem; */
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 7.5rem 15rem;
}
.genre-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1.5rem 15rem;
}

.genre {
  display: flex;

  align-items: center;
  gap: 0.9rem;
  width: 11rem;
  height: 3rem;
  flex-shrink: 0;
  padding: 0 35px;
}
.genre:hover {
  width: 11rem;
  color: #ff42a5;
  height: 3rem;
  border: 3px solid #ff42a5;
  border-radius: 3.125rem;
}

.genre-description {
  color: #0b0223;
  font-size: 0.7rem;
  font-weight: 600;
}

.genre-description:hover {
  color: #ff42a5;
  font-size: 0.7rem;
  font-weight: 600;
}

/* footer */

footer {
  height: 30rem;
  background: #0b0223;
}

.footer-list ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer li {
  list-style: none;
  margin-right: 3.75rem;
  text-align: center;
  font-size: 0.7rem;
  font-weight: 600;
}

footer li a {
  text-decoration: none;
  color: #fff;
}

.footer-logo {
  display: flex;
  padding-top: 5px;
  justify-content: center;
  padding: 3.5rem 0;
}

.footer-logo-img {
  width: 85px;
  height: 40px;
  margin-right: 20px;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
}

.icon {
  color: #fff;
  font-size: 24px;
  margin: 0 20px;
}
.copyright {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}

.f-list a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}
.f-list {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

/* responsive styles */

/* small devices */

@media screen and (max-width: 576px) {
  /* navbar */
  nav {
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    height: auto;
    box-shadow: none;
  }
  nav .logo {
    text-align: center;
    margin: 0 auto;
    padding: 20px 90px 20px 0px;
  }

  .about-us {
    flex-direction: column;
    margin: 0 auto;
  }
  .about-us ul {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .about-us ul li {
    padding: 20px;
  }
}

/* medium devices */

@media screen and (min-width: 576px) and (max-width: 992px) {
  /* navbar */
  nav {
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 60px 100px 0 0;
    box-shadow: none;
  }
  nav .logo {
    text-align: center;
    margin: 0 auto;
  }

  .about-us {
    flex-direction: column;
    margin: 0 auto;
  }
  .about-us ul {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin: 30px 0 30px 50px;
  }

  .about-us ul li {
    padding: 20px;
  }
}
